{% load static %}

{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#4da6ff;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#first_collapse_target"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="first_collapse_target">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      	{% if user.is_authenticated %}  
      <li class="nav-item ml-4 mt-1">
        <a class="nav-link  py-md-2" href="{% url 'home' %}">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item ml-4 mt-1">
    		<a class="nav-link " href="{% url 'questions:logged_user_questions' username=request.user %}">
    		  My Questions</a>
      </li>

      <li class="nav-item ml-4 mt-1">
        <a class="nav-link " href="{% url 'questions:user_voted_questions'  username=request.user %}">
          Question I Voted</a>
      </li>

      <li class="nav-item ml-4 mt-1">
        <a class="nav-link " href="{% url 'questions:dynamic_create' %}">New Question</a>
      </li>
        {% else %}
      <li class="nav-item ml-4 mt-1">
        <a class="nav-link  py-md-2" href="{% url 'home' %}">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      </li>        
        {% endif %}
    
        <div class="ml-4 mt-2">
             <form class=" d-flex flex-row" method="GET" action="{% url 'questions:search_question'  %}" role="search">
                <input autocomplete=off class="form-control" type="search" name='search_question' 
                placeholder="Search Question" aria-label="Search">
              <button class="btn  btn-rounded btn-sm  ml-sm-2" 
                    type="submit"><i class="material-icons md-18 md-dark">search</i></button>
            </form>  
        </div>
    </ul>
       <div class="ml-4 mt-1">
     {% if user.is_authenticated %}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="#"  id="userMenu"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="text-white"> {{ user.email }} </span>
            </a>
            <div class="dropdown-menu " aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'accounts:my_account' %}">My account</a>
              <!--<a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>


            </div>
          </li>
        </ul>
      {% else %}
        <ul class="navbar navbar-right">
          <form class="form-inline  ">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">Log in</a>
          </form>
        </ul>
      {% endif %}
      </div>
    </div>

</nav>

<div class="container">
  <nav class="navbar fixed-bottom navbar-light mx-4" 
  style="background-color: #5d6d5f;  min-height:20px; border-radius:0; ">
    <a  style="font-size: 14px; color: white; text-align: left;" href="{% url 'home' %}">
    <i class="fa fa-home fa-lg aria-hidden="true"></i>
    </a>
    <a  style="font-size: 14px; color: white; text-align: center;" href="{% url 'feedback'  %}">Feedback</a>
    
    <a  target="_blank" rel="noopener noreferrer" style="font-size: 14px; color: white; text-align: left;" 
    href="https://app.termly.io/document/privacy-policy/2101cde5-c04e-48fc-8c1b-ed071650b08b">Privacy Policy</a>

  </nav>
</div>


