{% load static %}


<nav class="navbar navbar-expand-md navbar-dark bg-success sticky-top">
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#first_collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="first_collapse_target">
        
    <a class="navbar-brand"><img src="{% static 'img/pic4.jpeg' %}" width=30> </a>

    <span class="navbar-text">FastSimpleSocial</span>
    
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="first_dropdown_target"
                        href="#">Dropdown Link
            </a>
    
            <div class="dropdown-menu" aria-labelledby="first_dropdown_target">
                <ul class="navbar-nav">
                    <a class="dropdown-item">My Questions</a>
                    <a class="dropdown-item">New Question</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">My Groups</a>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
        
    </ul>
    </div>

</nav>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic5.jpeg"> 
        <img src="{% static 'img/pic5.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic6.jpeg"> 
        <img src="{% static 'img/pic6.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic7.jpeg"> 
        <img src="{% static 'img/pic7.jpeg' %}"  class="img-fluid">
</a>
<br>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic1.jpeg"> 
        <img src="{% static 'img/pic1.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic2.jpeg"> 
        <img src="{% static 'img/pic2.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic3.jpeg"> 
        <img src="{% static 'img/pic3.jpeg' %}"  class="img-fluid">
</a>
<br>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic8.jpeg"> 
        <img src="{% static 'img/pic5.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic9.jpeg"> 
        <img src="{% static 'img/pic6.jpeg' %}"  class="img-fluid">
</a>
<a target="_blank" rel="noopener noreferrer" 
        href="https://s3-eu-west-1.amazonaws.com/simplesocialproject/static/img/pic10.jpeg"> 
        <img src="{% static 'img/pic7.jpeg' %}"  class="img-fluid">
</a>