{% load static %} 

<!-- Button trigger modal -->
						  {% if  question.extension == 'mp4' %}
                <a data-toggle="modal" href="#{{question.pk}}">
                  <video width="350" height="200" autoplay controls>
  								  <source src="{{ question.question_picture.url }}" type="video/mp4">
									Your browser does not support the video tag.
                  </video></a>
  						  {% else %}

      <a data-toggle="modal" href="#{{question.pk}}"><img class="card-img-top " style="width:252px; height:200px;"
		      src="{% static 'img/conversation.jpeg' %}" alt="Question image" > </a>					
				      {% endif %}			

<!-- Modal -->
<div class="modal fade" id="{{question.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{question.pk}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" style=" margin: 0 auto;">
          <h3 class="modal-title d-flex justify-content-center" id="{{question.pk}}Label">{{ question.question }}</h3>
      </div>
      <div class="modal-body text-center">
					<img class="mr-4 mb-1  img-fluid " style="width: 400px ; height:auto" 
						src="{% static 'img/conversation.jpeg' %}""> 
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>