{% load static %}

{% load switch %} 

<div class="question media">
	<div class="media-body mt-3">
		<h4 class="text-danger"><font face="Cursive">{{ question.question_html|safe }}</font></h4>
		{% if question.answers.count > 0 %}
		<h5>
		Answers for this question:
		<div class="media-body alert " role="alert">
			{% for answer in question.answers.all %}
			<h5 class=" text-danger "><font face="Cursive">{{forloop.counter}}. {{ answer|safe }}</font></h5>

			{% endfor %}
		</h5>
		</div>
		{% else %}
		<h5 class="ml-2 text-danger"> No answers for this question</h5>
		{% endif %}
	</div>

</div>
