{% extends "questions/question_base.html" %} 

{%load static %} 

{% load crispy_forms_tags %}

{% load tz %} 

{% block stylesheet %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" /> 
<style>
.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 85%;
}

.contact-form .form-control{
    border-radius:1rem;
}
</style>

{% endblock stylesheet%}

{% block question_content %}


<div class='container contact-form'>
        <form method="POST" autocomplete="off" id="postForm" 
            enctype="multipart/form-data" novalidate>
            
            {% csrf_token %}

        <input id="fileupload" type="file" name="id_question_picture" style="display: none;" 
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

        <div class="row">
            <div class="col">

                <div class="form-row field-question input-sm">
                    <div class="my-1">
                        
                        <label class="required" for="id_question">Ask a question:</label>
                        <input type="text" name="question" id="id_question" required
                        class="vTextField " style="width: 300px; border-radius:1rem;" maxlength="500"
                         value="?"/>
                    </div>
                </div>
                <div id='form-bottons'>
                    <button type="submit" class="btn btn-primary btn-large">
                   	Create 
                   <i class="fa fa-check-circle ml-1"></i>
                </button>
                </div>

            <div  class="form-row ">
                <div class="mt-1">
                        <label class="required" for="id_answer"></label>
                        <input type="text" name="answer" id="id_answer" required
                        class="my-3 col-lg input-sm" style="border-radius:1rem; width:200px">
                </div>
                    <div id="no-item">
                    </div>


                    <div id='form-bottons'>
                        <input class="btn btn-success btn-md " type="button" value="add answer" id="add"> </input>
                    </div>

                    <div id="items">
                    </div>
                </div>
            </div>
            <div class="col mt-4"></div>

            <div class="col mt-4">
                <div class="AddPicture ">
                    <div class="form-row field-question_picture">
                        <div>
                            <label class="inputfile" for="id_question_picture">Upload image/audio:</label>
                            <input class="btn btn-sm" style="background-color: #e6e6e6" 
                            type="file" name="question_picture" id="id_question_picture" />
                        </div>

                    </div>

                </div>

                <div class="form-group ">
                <h4 class="mt-2 text-left"> Publish results by</h4>

                    <div class="form-row field-due_date">
                        <div>
			                 <label for="id_due_date">Due date\time: </label>

                            <p class="datetime">
                                <input type="date" name="due_day" id="id_due_day" class="vDateField" 
                                        style="width:150px;" />
                                <input type="time" name="due_time" id="id_due_time" class="vTimeField ml-2 " 
                                        style="width:100px" />
                                <a class="ml-2" href="" onclick="date_time_now()"> now </a>                                        
                            </p>
                        </div>
                    </div>
                    <div class="form row field-min_answerers">
                            <div>
                                <label class="required pl-2" for="id_min_answerers">Min answerers:</label>
                                <input type="number" name="min_answerers" id="id_min_answerers" value="0" style="width: 100px;" 
                                    class="vIntegerField" min="0" />
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %} 

{% block javascript %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js">
    </script>


    <script>
        function ShowPicute() {
            $("#AddPicture").show();
        }

        //   $( function() {
        //     $( document ).tooltip();
        //   } );
    </script>
<script>
    function date_time_now(){
        var current_date = moment().format('YYYY-MM-DD');
        $('#id_due_day').val(current_date);

        var current_time = moment().format('HH:mm');
        $('#id_due_time').val(current_time);

    }
</script>

    <script>
        $(document).ready(function() {
            var question_number = 1;
            question_number += 1
            var button1 = '<input value="no" class="my-3 col-lg input-sm"' + 
                        ' style="border-radius:1rem; width:200px;" type="text" name="answer"' +
                question_number + 'id=answer' + question_number + '> </input>';

            $("#no-item").append(button1);

        });
    </script>



    <script>
        var current_date = moment().format('YYYY-MM-DD');
        $('#id_due_day').val(current_date);

        var current_time = moment().format('HH:mm');
        $('#id_due_time').val(current_time);

        $('#id_minimum_answerers').val(1);

        $('#id_answer').val("yes");
    </script>

{% comment %}
    <script src="{% static 'js/scripts/script_dynamic_question.js' %}">
    </script>
{% endcomment %}

<script>
            $(document).ready(function() {

            var question_number = 1;
            $("#add").click(function(e) {
                question_number += 1
                var button1 = '<input autofocus autocomplete=off class ="my-3 col-lg input-sm"' + 
                ' style="border-radius:1rem; width:200px"' +
                ' type="text" name="answer"' + 
                question_number + 'id=answer' +  question_number + '> </input>';
                var button2 = '<input class="btn btn-success btn-md mt-2" type="button" value="add answer" id="addanswer" > </input>'
                var button3 = '<input class="btn btn-danger btn-md mt-2"  type="button" value="delete"    id="delete"> </input>';
                
                 event.preventDefault();
                $("#items").append('<div id="extra_items">' + button1 + button2 + button3 + '</div>');
            });

            $('body').on('click', '#delete', function(e) {
                $(this).parent('div').remove();
                question_number -= 1
            });

            $('body').on('click', '#addanswer', function(e) {
                question_number += 1
                var button1 = '<input autofocus autocomplete=off ' + 
                'class ="my-3 col-lg input-sm" style="border-radius:1rem; width:200px;" type="text" name="answer"' + 
                question_number + 'id=answer' + question_number + '> </input>';
                var button2 = '<input class="btn btn-success btn-md mt-2" type="button" value="add answer" id="addanswer" > </input>'
                var button3 = '<input class="btn btn-danger btn-md mt-2"  type="button" value="delete"    id="delete"> </input>';
                event.preventDefault();
                $("#items").append('<div id="extra_items">' + button1 + button2 + button3 + '</div>');
            });

        }); 
</script>
    {% endblock %} 
    
    {% comment 'add picture button' %}
    <button class="mt-4 ml-4" title="Add a picture" onclick="ShowPicute()">
                <i class="btn btn-large material-icons md-18 ">photo</i></button> 
    {% endcomment %}
