{% extends "questions/question_base.html" %} 

{%load static %} 

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}


{% block title %} Feedback - {{ block.super }} {% endblock %} 

{% block question_content %} 

<div class="container contact-form mt-2">

        <form method="post" class="mb-4" novalidate>
            <h3>Send us your feedback</h3>

            {% csrf_token %}
            <div class="row">
                <div class="col">
                <div class="form-group">
                        <label class="required" for="id_name">Name:</label>
                        <input type="text" name="name" class="form-control" id="id_name" required 
                                    placeholder="Your Name *" value="" maxlength="200" />                        
                </div>

                <div class="form-group">
                        <label class="required" for="id_email">Email:</label>
                        <input type="email" name="email" class="form-control" id="id_email" required 
                                    placeholder="Your Email *" value="{{request.user}}" maxlength="200" />                        
                </div>

                <div class="form-group">
                        <label class="required" for="id_subject">Subject:</label>
                        <input type="text" name="subject" class="form-control" id="id_subject" required 
                                    placeholder="Subject *" value="" maxlength="400" />                        
                </div>
                <button type="submit" class="btn btn-success">Send</button>
                <a class="btn btn-warning text-white" href="{% url 'home'  %}" role="button">Cancel</a>

                </div>
    
                <div class="col">
           <div class="form-row field-message">
                <div>
                        <label class="required " for="id_message">Message:</label>
                            <textarea name="message" id="id_message" required rows="10" cols="30" 
                            style="border-radius:1rem;" class="textarea-field">  </textarea>
                </div>
        </div>

            </div>
        </form>
    </div>

{% endblock %}