{% extends 'base.html' %}

{% block content %}
  <h2>GEO API</h2>
  <p>Your ip address is <strong>{{ ip }}</strong>, 
  and you are probably in <strong>{{region_name}} , {{ country }}</strong> right now.</p>

<!--<img src="{{flag}}" style="width: 100px;" alt="Country Flag">-->

<p> country code = {{country_code }}</p>



  <iframe width="600"
          height="450"
          frameborder="0"
          style="border:0"
          src="https://www.google.com/maps/embed/v1/view?center={{ latitude }},{{ longitude }}&zoom=8&key={{ api_key }}"
          allowfullscreen>
      
  </iframe>

<p> Advice: {{ selected_advice }}</p>
<p><small>  This information {{ is_cached|yesno:"was,wasn't" }} cached.</small></p>

  {% if total_users is not None %}
  <div class="mb-4">
    <p> Total Registered User {{ total_users }} </p>

    <p>Total Questions: {{total_questions }} </p>    
    

    {% for user_name  in users %}
      <li> {{ user_name }} </li>
    {% endfor %}
    <br>
    </div>
    <div class="mb-4"><p> </p></div>

      
  {% endif %}


<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>

    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tokyo',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

    }]
});

</script>

{% endblock %}