{% extends "questions/question_base.html" %} 

{% load static %} 


{% block question_content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <p> {{chart}} </p>
    <p> answers: {{answers }}</p>
    <p> votes: {{votes }}</p>

<div class="col">
    
</div>
    

<div class="col">
    <canvas id="myChart"></canvas>
</div>

<div class="col"></div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, 
{'data': {'labels': [1, 2, 3], 'datasets': [{'data': [10, 12, 13], 'backgroundColor': 'rgb(255, 99, 132)', 'label': 'results'}]}, 'type': 'bar'}


        // {{chart}}
// 'type': 'bar','data' : { 'labels' : {{ answers}},'datasets' : [{'label': 'results', 'backgroundColor': 'rgb(255, 99, 132)','data': {{ votes }} }]}
    // Configuration options go here
    // options: {}
);    
</script>
{% endblock %}
