{% extends "questions/question_base.html" %}



{% block stylesheet %}
<style>

.question_layout{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
}
</style>

{% endblock %}


{% block question_content %}

<div class="container question_layout">
	
<div class="row">
	<div class="col ">
	<form method="POST">
		{% csrf_token %}
		<div class="d-flex flex-row my-2">
		<input type="submit" value="Confirm Delete" class=" btn btn-danger btn-large">
		<a href="{% url 'questions:single' username=user.email pk=object.pk %}" 
			class="btn btn-info btn-large btn-default ml-2">Cancel</a>
		</div>
	</form>
		
	</div>	
</div>

<div class="row ">
	<div class="col">
		<h4>
	Delete Question: {% include "questions/_question_no_answer.html" with question=object hide_delete=True %}
	</h4>
	</div>
</div>


</div>
{% endblock %}