{% extends "questions/question_base.html" %}

{% load static %} 

{% load switch %} 

{% load tz %}


    {% block stylesheet %}
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
        <link rel="stylesheet" type="text/css" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />
        
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">       
        
        <link rel="stylesheet" href="{% static 'css/icon-text.css' %}"> 
        
    {% endblock stylesheet%}  

{% block title %} There is a question for you to vote: {% endblock %}

{% block header %}


	<div class="d-flex flex-row  mt-3 ml-1">
    {% if question.user == request.user %}
    	 <div class="mb-4 d-flex justify-content-start">
    	    <a  href="{% url 'questions:delete' pk=question.pk %}" 
    			title="delete question" data-toggle="tooltip" role="button" data-placement="top">
    						<i class="ml-4 fa fa-trash-o fa-2x" 
    						style="color:green; display: inline-block;  border-radius: 60px; 
    							box-shadow: 0px 0px 2px #888; padding: 0.2em 0.2em;"></i>
    							
    	    </a> 
    	</div>
    {% endif %}
    	<div class="ml-4 d-flex justify-content-center">
    	    <h3 > {{ question.question_html|safe }} </h3>
    	</div>
    	
     {% if question.user == request.user and question.editing_done is False %}
    <div class="ml-2">
     	<form method="POST" autocomplete="off" 
     	            action="{% url 'questions:question_editing_done' pk=question.pk %}" 
					id="QuestionParamsForm" enctype="multipart/form-data" novalidate>
		{% csrf_token %}
			<button class="btn btn-success text-white ml-2" data-toggle="tooltip" 
			    data-placement="auto" title="Press to start voting" 
			    role="button"> 
			    Ready to vote  
			</button>
		</form>
		</div>
     {% endif %}
	</div>
	
    <div class = "d-flex flex-row  justify-content-center mt-1 mb-2 ml-4">


        {% if question.editing_done == True  %}
            {% if question_answered_by_user == False %}
        		<a class="btn btn-primary text-white" 
		            href="{% url 'questions:vote' pk=question.pk %}" role="button">
        		    Vote Now</a>
		    {% endif%}
        {% endif %}
        
    </div>
    
{% endblock %}

{% block question_content %}


	{% if question.user == request.user %}
        <div id="question_pk" style="display:none;">{{question.pk}}</div>

        <div class="col">

                {% if question_answered_by_user == True %}

                    {% include "questions/_question_detail_results.html" %}

                {% endif %}        


        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    {% include "questions/_question_detail_media_body.html" %}

                    {% include "questions/_question_detail_media_footer.html" %}
            

        </div>

    {% elif  user.is_authenticated %}
        <div class="col">
                    {% include "questions/_question_detail_media_body.html" %}


                {% if question_answered_by_user == True %}
    
                    {% include "questions/_question_detail_results.html" %}

                {% endif %}        

            {% include "questions/_question_detail_media_footer.html" %}

        </div>                
    {% else %}
        <div class="col">
                {% if question_answered_by_user == True %}
            
                    {% include "questions/_question_detail_results.html" %}

                {% endif %}        

        </div>        
    {% endif %}

        {% if question.editing_done is True  and question.user == request.user %}

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bdde3de8c2b6428"></script>
        
        {% endif %}
        
{% endblock %}

{% block javascript  %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js">
    </script>

{% comment %}    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    

{% endcomment %}

    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    
    <script src="{% static 'js/basic-upload.js' %}"></script>




{% comment 'init tooltips' %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    
});

</script>
{% endcomment %}
    <!--<script src="{% static 'js/scripts/script_question_detail_toggle_elements.js' %}"> </script>    -->
<!---->
<script>
function TogglePieChart(){
        $("#container").toggle();
    };
function ToggleResultsTable(){
        $("#ResultsTable").toggle();
    };

function AnswerToggle(forloopNumber,answer_pk){
    
    
        var answer_content_id = "#answer_" + forloopNumber;
        var answer_content = $(answer_content_id).text().trim();
        var edit_answer_button = "#edit_answer_button_" + forloopNumber

        $(edit_answer_button).attr('disabled',true)                
        
        var input_updated_answer = 
            ' <input  style="border: 1px solid green; border-radius: 10px; width: 70%;" ' + 
            'type="text" name="updated_answer" autofocus value="' +  
            answer_content + '" >';

		var button_ok = ' <button class="ml-2" ' +   
				'onclick="UpdateAnswer(answer_pk=' + answer_pk + 
				     ',forloopNumber=' + forloopNumber  + ')" ' +  
                'style="border: none; background:none;font-size:0.8em;color:CadetBlue;">' + 
				' <i class="fa fa-check"></i>' + 
				'</button>'
				
        var button_cancel = '<button onclick="remove_input_answer(forloopNumber=' + forloopNumber + ')"' +  
						'style="border: none; background:none;font-size:0.8em;color:CadetBlue;">' + 
					    ' <i class="fa fa-close"></i>' + 
						' </button>  '
        
        var append_input = '<div id="input_updated_answer" >' +  input_updated_answer + 
                                    button_ok + button_cancel        +     '</div>'
        
        $(answer_content_id).parent('div').parent('div').append(append_input)


    };

    function remove_input_answer(forloopNumber){
                var edit_answer_button = "#edit_answer_button_" + forloopNumber
        
                $('#input_updated_answer').remove()
                $(edit_answer_button).attr('disabled',false)                
                
        };
    
</script>
<!---->
    
    <script src="{% static 'js/scripts/script_question_details.js' %}"> </script>
     <!--<script src="{% static 'js/scripts/script_delete_answer.js' %}" ></script>-->
<!---->
<script>
function DeleteAnswer(loopNumber,answer_pk) {
  
            $.ajax({
                url: $("#delete-answer-url").attr("delete-answer-url"),
                data: {
                  'answer_pk': answer_pk,
                },
                
                dataType: 'json',
                success: function (data) {
                  if (data.result == 'true') {
                    var removed_answer = ".answer_loop" + loopNumber
                      $(removed_answer).remove()
                  }
                },
                error: function(data) {
                 console.log("error in DeleteAnswer") 
                }
           });
}
</script>
<!---->

     <!--<script src="{% static 'js/scripts/script_update_answer.js' %}" ></script>-->
<!---->
<script>
function UpdateAnswer(answer_pk,forloopNumber) {
  
            var new_answer_content = $("#input_updated_answer input").val() 

            $.ajax({
                url: $("#update-answer-url").attr("update-answer-url"),
                data: {
                  'answer_pk': answer_pk,
                  'new_answer_content' : new_answer_content
                },
                
                
                dataType: 'json',
                success: function (data) {
                  if (data.result == 'true') {
                     answer_content_id = "#answer_" + forloopNumber + ' h5'
                     $(answer_content_id).text(data.updated_answer)

                  }
                     remove_input_answer(forloopNumber);

                }
           });
        
}    
</script>
<!---->
     <!--<script src="{% static 'js/scripts/script_dynamic_add_delete_answer.js' %}" > </script>-->

<!---->
<script>
    function AddAnswer(question_answers) {

                var question_answers = question_answers
                var button1 = '<input type="text" autofocus autocomplete=off ' +
                        'class="mt-4 col-lg input-sm"  name="answer" ' + 
                 ' id=new_answer' + '> </input>';
 

 
                var button2 = ' <form action="/action_page.php" method="post"> \n' +
                ' \t <button type="submit" id="addanswer" \n ' + 
                ' \t \t  style="border: none; background:none;font-size:1em;color:CadetBlue ;"> \n ' + 
                ' \t \t \t <i class="fa fa-check mt-2"></i></button> \n' +
                '</form> \n' ; 
                var button3 = 	'<button id="deleteanswer"  ' + 
                            'style="border: none; background:none;font-size:1em;color:CadetBlue ;">' + 
                           '<i class="fa fa-close mt-2"></i></button>';

                $(".answer_button").attr('disabled',true)                

                 event.preventDefault();
                 
                $("#new_answer_item").append('<div id="extra_items" class="input-container mt-2">' +
                 button1 + '<div class="d-flex flex-row">' +  button2 + button3  + ' </div> </div>');
            };

            $('body').on('click', '#deleteanswer', function(e) {
                $(this).parent('div').parent('div').remove();
                $(".answer_button").attr('disabled',false)                
            });

    ; 

</script>
<!---->


     <script src="{% static 'js/scripts/script_ShowDateTime.js' %}"> </script>

     <script src="{% static 'js/scripts/script_ShowMinAnswerers.js' %}"> </script>

{% endblock %}


